/* Background Color */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: white;
}

/* Main Image */
.mainImg {
    background-image: url("../images/mainImage.jpg");
    position: relative;
    width: 120%;
    height: 700px;
    right: 10%;
    background-size: 100%;
    border-radius: 12px;
}

/* Navbar Stuff */
#mainNav {
    background-image: linear-gradient(-225deg, rgb(198, 252, 227) 0%, #57F2CC 48%, #4596FB 100%);
}

.navbar-default .navbar-toggle {
    font-size: 20px;
    padding: 8px;
    color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 30px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.329);
    border: 1px solid white;
    border-radius: 8px;
}

.nav-link {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    color: white;
    top: -15px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}


/* Main Container */
.mainContainer {
    border-radius: 12px;
}

.slogan {
    background-color:#F4F4F4;
    margin-top: -50px;
    z-index: 1000;
    border-radius: 12px 12px 0px 0px;
    height: 52px;
}

#sloganText {
    font-family: 'Pacifico', cursive;
    color: #B4B4AF;
    text-align: center;
    font-size: 35px;
}

p {
    margin: 22px 8px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/* About Section */
.aboutSection {
    padding-bottom: 20px;
    background-color:#F4F4F4;
}

#title {
    font-family: 'Pacifico', cursive;
    color: #B4B4AF;
    text-align: center;
    font-size: 50px;
}

.white-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #B4B4AF;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}

/* Portfolio Section */
.portfolioSection {
    border-radius: 0px 0px 12px 12px;
    background-color:#F4F4F4;    
}

#portfolioTitle {
    font-family: 'Pacifico', cursive;
    color: #B4B4AF;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10%;
}

.group1 {
    background-color: #57F2CC;
}

.group2 {
    background-color: rgb(87, 211, 241);
}

.group3 {
    background-color: rgb(83, 158, 250);
    border-radius: 0px 0px 12px 12px;
}

.text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.descriptions {
    color: white;
    font-size: 15px;
    margin-bottom: 35%;
}

/* Portfolio Images */
.mouse,
.power,
.tv,
.happy,
.burger,
.friends,
.trivia,
.globe {
    width: 150px;
    height: 150px;
    padding: 25px 25px;
    margin-top: -30%;
    margin-left: 18%;
    border-radius: 50%;
    background-color: #57F2CC;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    z-index: 1000;
}

.burger,
.happy,
.tv {
    background-color: rgb(87, 211, 241);
}

.mouse,
.power {
    background-color: rgb(83, 158, 250);
}

.imageContainer3 {
    margin-left: 16.5%;
}

.globe:hover,
.trivia:hover,
.friends:hover {
    border: 3px solid rgb(47, 207, 167);
    background-color: rgb(59, 221, 181);
}

.burger:hover,
.happy:hover,
.tv:hover {
    border: 3px solid rgb(54, 178, 209);
    background-color: rgb(68, 193, 224);
}

.mouse:hover,
.power:hover {
    border: 3px solid rgb(46, 123, 216);
    background-color: rgb(60, 137, 231);
}

/* Social */
#iconsTitle {
    font-family: 'Pacifico', cursive;
    color: #B4B4AF;
    text-align: center;
    font-size: 50px;
}

/* Contact Section */
.contactSection {

}

.form-group {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #B4B4AF;
    margin-bottom: 5px;
}

.form-control {
    height: 48px;
    font-family: sans-serif;
    border-image-source: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    border-width: 1.5pt;
    border-image-slice: 1;
}

.btn {
    border-image-source: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    border-width: 1.5pt;
    border-image-slice: 1;    
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    width: 100%;
    margin-left: 60%;
}

.btn:hover {
    border-width: 2pt;   
    font-size: 25px;
    background-color: white;
}

.submit {
	background: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* Social Media Icons */
.githubIcon,
.linkedInIcon,
.instagramIcon,
.twitterIcon {
    width: 50px;
    max-width: 50px;
    background-image: url("../images/github.png");
    height: 50px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    z-index: 1000;
}

.socialMediaIcons {
    margin-left: 30px;
}

.linkedInIcon {
    background-image: url("../images/linkedin.png");
}

.instagramIcon {
    background-image: url("../images/instagram.png");
}

.twitterIcon {
    background-image: url("../images/twitter.png");
}

/* Footer */
footer {
    background-color: #B4B4AF;
    margin-top: 35px;
    border-top: 1.3px solid rgb(158, 158, 154);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.footerImage {
    width: 15%;
    height: auto;
    margin-left: 85%;
    margin-top: 5px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* Media Queries */
@media only screen and (max-width: 1400px) {
    .mainImg {
        width: 116%;
        right: 8%;
    }
}

@media only screen and (max-width: 1200px) {
    .mainImg {
        width: 100%;
        height: 600px;
        right: 0%;
    }
    .slogan,
    .aboutSection,
    .portfolioSection {
        margin-left: 5%;
    }
    .mouse,
    .power,
    .tv,
    .happy,
    .burger,
    .friends,
    .trivia,
    .globe {
        margin-left: 12%;
    }
}

@media only screen and (max-width: 1024px) {
    .mainImg {
        height: 500px;
    }
    #portfolioTitle {
        font-size: 40px;
    }
    #title {
        font-size: 40px;
    }
    .white-text {
        font-size: 17px;
    }
    .text {
        font-size: 17px;
    }
    .descriptions {
        font-size: 12px;
        margin-bottom: 40%;
    }
    .mouse,
    .power,
    .tv,
    .happy,
    .burger,
    .friends,
    .trivia,
    .globe {
        width: 130px;
        height: 130px;
        margin-top: -38%;
    }
    .githubIcon,
    .linkedInIcon,
    .instagramIcon,
    .twitterIcon {
        background-size: 35px 35px;
    }
    p {
        margin: 15px 8px 16px;
    }
}

@media only screen and (max-width: 980px) {
    .mainImg {
        width: 124%;
        height: 450px;
        right: 12%;
    }
    .slogan, 
    .aboutSection, 
    .portfolioSection {
        margin-left: 0;
    }
    .mouse,
    .power,
    .tv,
    .happy,
    .burger,
    .friends,
    .trivia,
    .globe {
        width: 130px;
        height: 130px;
        margin-top: -28%;
        margin-left: 20%;
    }
    #social {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 425px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 320px) {

}